.comment-partial.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-heading
      = comment.producer.email
      %span.text--right
        #{comment.created_at.day}/#{comment.created_at.month}/#{comment.created_at.year}
    .panel-body
      = comment.body
