%h2
  = @sound.title
%p.text--blue.text--bold.text--med
  by #{@sound.producer.email}

= image_tag("play.svg", height: "100px", id: "play_button_#{@sound.id}", class: "playbutton")
= image_tag("/uploads/sound/#{@sound.id}/#{@sound.file.path.split('/')[-1]}.png", width: "80%")

:javascript
      soundManager.onready(function() {
        $('#play_button_#{@sound.id}').click(function() {
          soundManager.createSound({
              id: 'sound_#{ @sound.id }',
              url: '#{ @sound.file }'
          });
          soundManager.play('sound_#{ @sound.id }');
        });

    });
