.container
  #banner
  %h1.text--center <a href="#{ sounds_path }"><span class="text--blue">all</span> sounds</a>
  %section.text--center
    %span.text--blue view by
    %span#instrument-option.filter-option
      Instrument
    |
    %span#category-option.filter-option
      Category
    |
    %span#tag-option.filter-option
      Tag
    #instrument-select.hidden-options
      - Instrument.all.each do |instrument|
        = link_to instrument.name, sounds_path(instrument: instrument.name)
        = "|" unless instrument == Instrument.last
    #category-select.hidden-options
      - Category.all.each do |category|
        = link_to category.name, sounds_path(category: category.name)
        = "|" unless category == Category.last
    #tag-select.hidden-options
      - Tag.all.each do |tag|
        = link_to tag.name, sounds_path(tag: tag.name)
        = "|" unless tag == Tag.last
    - if params[:instrument]
      %h2 <span class="text--blue">instrument:</span> #{params[:instrument]}
    - if params[:category]
      %h2 <span class="text--blue">category:</span> #{params[:category]}
    - if params[:tag]
      %h2 <span class="text--blue">tag:</span> #{params[:tag]}
  - if @sounds
    - @sounds.each do |sound|
      = render sound

:javascript
  $(function() {

    $('#instrument-option').click(function() {
      $('.hidden-options').hide();
      $('#instrument-select').show();
    });

    $('#category-option').click(function() {
      $('.hidden-options').hide();
      $('#category-select').show();
    });

    $('#tag-option').click(function() {
      $('.hidden-options').hide();
      $('#tag-select').show();
    });
  });
