.container
  %h1 Upload a sound

  = form_for @sound do |f|
    .form-group
      = f.label :title
      = f.text_field :title, class: "form-control"

    .form-group
      = f.label :file
      = f.file_field :file, class: "form-control"

    .form-group
      = f.submit "Upload Sound"

