.container
  - if current_producer
    %h1 Upload a sound

    = form_for @sound do |f|
      .form-group
        = f.label :title
        = f.text_field :title, class: "form-control"

      .form-group
        = f.label :file
        = f.file_field :file

      .form-group
        = f.label :instrument
        = f.select :instrument_id, options_for_select(@instrument_options), class: "form-control"

      .form-group
        = f.label :category
        = f.select :category_id, options_for_select(@category_options), class: "form-control"

      .form-group
        = f.submit "Upload Sound", class: "btn btn-primary"
