.container
  #banner-show
  %h1 Show Sound
  = render @sound

.container
  - if @comments
    #comments
      - @comments.each do |comment|
        = render comment

  - if current_producer

    .col-md-12
      %span.btn.btn-success#new-comment-button
        New comment

      #new-comment-form
        %h2 Enter a comment

        = form_for @comment, remote: true do |f|

          = f.hidden_field :producer_id, value: current_producer.id
          = f.hidden_field :sound_id, value: params[:id]

          %fieldset.form-group
            = f.label :body
            = f.text_field :body, class: "form-control", id: "new-comment-body"

          %fieldset.form-group
            = f.submit "Submit", class: "btn btn-primary"
