.sample-pack-partial.col-md-11.col-md-offset-1
  .col-md-10
    %a{ href: "#{ sample_pack_path(sample_pack) }" }
      %h2
        = sample_pack.title
    %p.text--blue
      by #{sample_pack.seller.email}
    .col-md-3
      = image_tag("https://upbeat-sounds.s3.amazonaws.com/#{sample_pack.cover_image.path}", width: "170px")
    %p.col-md-7
      = sample_pack.description

    .col-md-2.buying-options
      %span.text--right.text--pink
        £
        = sample_pack.price
