<!DOCTYPE html>
<html>
<head>
  <title>Upbeat</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="container">
      <a class="navbar-brand" href="<%= root_path %>">
        Up<span class="text--blue">beat</span>
      </a>
      <ul class="nav navbar-nav navbar-right">
        <% if current_producer %>
          <li>
            <%= link_to "Sign out", destroy_producer_session_path, method: "delete" %>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign in", new_producer_session_path %>
          </li>
          <li>
            <%= link_to "Sign up", new_producer_registration_path %>
          </li>
        <% end %>
        <li><a href="<%= sounds_path %>"><span class="text--blue">all</span> sounds</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
  <% if notice %>
    <p class="alert alert-success notice alert-dismissible fade in" role="alert">
      <strong><%= notice %></strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </p>
  <% end %>
  <% if alert %>
    <p class="alert alert-warning alert-dismissible fade in" role="alert">
      <strong><%= alert %></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </p>
  <% end %>
  </div>

<%= yield %>

</body>
</html>
