<!DOCTYPE html>
<html>
<head>
  <title>Upbeat</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="container">
      <a class="navbar-brand" href="<%= root_path %>">
        Up<span class="text--blue">beat</span>
      </a>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="<%= sounds_path %>">
            <span class="text--blue">all</span>
            sounds
          </a>
        </li>
        <li>
          <a href="<%= sample_packs_path %>">
            <span class="text--blue">sample</span>
            packs
          </a>
        </li>
        <% if current_producer %>
          <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= current_producer.email %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "my sounds", producer_sounds_path(current_producer) %>
              </li>
              <li>
                <%= link_to "my profile", producer_profile_path(current_producer) %>
              </li>
              <li>
                <%= link_to "my account", account_producer_path(current_producer) %>
              </li>
              <li>
                <%= link_to "Sign out", destroy_producer_session_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign in", new_producer_session_path %>
          </li>
          <li>
            <%= link_to "Sign up", new_producer_registration_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="container">
  <% if notice %>
    <p class="alert alert-success notice alert-dismissible fade in" role="alert">
      <strong><%= notice %></strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </p>
  <% end %>
  <% if alert %>
    <p class="alert alert-warning alert-dismissible fade in" role="alert">
      <strong><%= alert %></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </p>
  <% end %>
  </div>

<%= yield %>

</body>
</html>
